# Explore here

In [42]:
import pandas as pd

df = pd.read_csv('../data/us_disaster_declarations.csv')

In [43]:
df.head()

,fema_declaration_string,disaster_number,state,declaration_type,declaration_date,fy_declared,incident_type,declaration_title,ih_program_declared,ia_program_declared,...,incident_end_date,disaster_closeout_date,fips,place_code,designated_area,declaration_request_number,last_ia_filing_date,last_refresh,hash,id
0,DR-1-GA,1,GA,DR,1953-05-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-05-02T00:00:00Z,1954-06-01T00:00:00Z,13000,0,Statewide,53013,NaN,2023-03-18T13:22:03Z,48af1afcc4535aa910ddb5b85eebe047dc703a6b,da5c8f17-c28f-4c41-8e06-fa8efc85aa4a
1,DR-2-TX,2,TX,DR,1953-05-15T00:00:00Z,1953,Tornado,Tornado & Heavy Rainfall,0,1,...,1953-05-15T00:00:00Z,1958-01-01T00:00:00Z,48000,0,Statewide,53003,NaN,2023-03-18T13:22:03Z,6bbba411d294ec521683e36313c8da2992e8a857,b0b41f55-0d77-43ac-898c-3cc4a18231e6
2,DR-3-LA,3,LA,DR,1953-05-29T00:00:00Z,1953,Flood,Flood,0,1,...,1953-05-29T00:00:00Z,1960-02-01T00:00:00Z,22000,0,Statewide,53005,NaN,2023-03-18T13:22:03Z,5b2fa18b404bdcf0d3038cd17f1aa995d5412f48,9fd9401d-c76c-43c3-b42a-6a4ae5139ec0
3,DR-4-MI,4,MI,DR,1953-06-02T00:00:00Z,1953,Tornado,Tornado,0,1,...,1953-06-02T00:00:00Z,1956-02-01T00:00:00Z,26000,0,Statewide,53004,NaN,2023-03-18T13:22:03Z,403164346eb22263810402e8b67f1712f1574ad5,67324f38-1f00-4bbc-aeda-5194d1befad6
4,DR-5-MT,5,MT,DR,1953-06-06T00:00:00Z,1953,Flood,Floods,0,1,...,1953-06-06T00:00:00Z,1955-12-01T00:00:00Z,30000,0,Statewide,53006,NaN,2023-03-18T13:22:03Z,8c775d2ce843a8eba2417f9716ba5c75fe0e53f3,e3853916-c7a2-4557-ad8e-60a42d369a61

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64092 entries, 0 to 64091
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   fema_declaration_string     64092 non-null  object
 1   disaster_number             64092 non-null  int64
 2   state                       64092 non-null  object
 3   declaration_type            64092 non-null  object
 4   declaration_date            64092 non-null  object
 5   fy_declared                 64092 non-null  int64
 6   incident_type               64092 non-null  object
 7   declaration_title           64092 non-null  object
 8   ih_program_declared         64092 non-null  int64
 9   ia_program_declared         64092 non-null  int64
 10  pa_program_declared         64092 non-null  int64
 11  hm_program_declared         64092 non-null  int64
 12  incident_begin_date         64092 non-null  object
 13  incident_end_date           55682 non-null  object
 14  disaster_closeout_date      48912 non-null  object
 15  fips                        64092 non-null  int64
 16  place_code                  64092 non-null  int64
 17  designated_area             64092 non-null  object
 18  declaration_request_number  64092 non-null  int64
 19  last_ia_filing_date         17753 non-null  object
 20  last_refresh                64092 non-null  object
 21  hash                        64092 non-null  object
 22  id                          64092 non-null  object
dtypes: int64(9), object(14)
memory usage: 11.2+ MB

In [45]:
df.describe()

,disaster_number,fy_declared,ih_program_declared,ia_program_declared,pa_program_declared,hm_program_declared,fips,place_code,declaration_request_number
count,64092.000000,64092.000000,64092.000000,64092.000000,64092.000000,64092.000000,64092.000000,64092.000000,64092.000000
mean,2577.105364,2004.339996,0.168087,0.268161,0.932035,0.431489,31705.675638,96373.283733,35025.917306
std,1405.535733,14.785293,0.373946,0.443006,0.251687,0.495288,16642.418797,13940.282164,34956.137681
min,1.000000,1953.000000,0.000000,0.000000,0.000000,0.000000,1000.000000,0.000000,3.000000
25%,1316.000000,1997.000000,0.000000,0.000000,1.000000,0.000000,19183.000000,99029.000000,8151.000000
50%,3057.000000,2007.000000,0.000000,0.000000,1.000000,0.000000,30036.000000,99071.000000,20026.000000
75%,3546.000000,2018.000000,0.000000,1.000000,1.000000,1.000000,46075.000000,99123.000000,74028.000000
max,5457.000000,2023.000000,1.000000,1.000000,1.000000,1.000000,78030.000000,99507.000000,99159.000000

In [46]:
# List of mainland U.S. states
mainland_states = [
    "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", 
    "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", 
    "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", 
    "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", 
    "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"
]

# Filter rows where the 'state' column is in mainland_states
df = df[df['state'].isin(mainland_states)]

In [47]:
# List of columns to drop
columns_to_drop = [
    "fema_declaration_string", "fips", "place_code", "hash", "id", "last_refresh", 
    "last_ia_filing_date", "fy_declared", "ih_program_declared", "ia_program_declared", 
    "declaration_type", "pa_program_declared", "hm_program_declared", 
    "disaster_closeout_date", "declaration_request_number"  # Removed trailing space
]

# Ensure no trailing/leading spaces in column names
df.columns = df.columns.str.strip()

# Drop columns that exist in the DataFrame
df = df.drop(columns=[col for col in columns_to_drop if col in df.columns], axis=1)

# Display remaining columns for verification
print("Remaining columns:", df.columns)

Remaining columns: Index(['disaster_number', 'state', 'declaration_date', 'incident_type',
       'declaration_title', 'incident_begin_date', 'incident_end_date',
       'designated_area'],
      dtype='object')

In [49]:
# Display the count of missing values for each column
missing_values = df.isnull().sum()
print("Missing values per column:\n", missing_values)

# Calculate the percentage of missing values
missing_percentage = (df.isnull().sum() / len(df)) * 100
print("\nPercentage of missing values per column:\n", missing_percentage)

Missing values per column:
 disaster_number           0
state                     0
declaration_date          0
incident_type             0
declaration_title         0
incident_begin_date       0
incident_end_date      8225
designated_area           0
dtype: int64

Percentage of missing values per column:
 disaster_number         0.000000
state                   0.000000
declaration_date        0.000000
incident_type           0.000000
declaration_title       0.000000
incident_begin_date     0.000000
incident_end_date      13.317897
designated_area         0.000000
dtype: float64

In [50]:
# Drop columns with more than 50% missing values (adjust threshold as needed)
threshold = 0.5
df = df.drop(columns=missing_values[missing_values > len(df) * threshold].index)

# Drop rows with any missing values
df = df.dropna()